<div class="row">
  <div class="span12">
    <h1>Simulação Cadeia de Markov - TMR</h1>
    
    <div class="row">
      <div class="span2 well">
        <div class="row">
          <%= simple_form_for :filtros, :url => "/marcov/home", :html => {:class => 'span2 form-vertical filtro_relatorio'} do |f| %>
            <%= f.input :modelo, :required => false, :collection => ["Disponibilidade", "Confiabilidade"], :label => "Modelo", :input_html => {:class => 'span2'}, :wrapper_html => {:class => ''} %>
            <%= f.input :cobertura, :required => false, :label => "Cobertura (C) - ex: 0.8", :input_html => {:class => 'span2'}, :wrapper_html => {:class => ''} %>
            <%= f.input :mttf, :required => false, :label => "MTTF (horas)", :input_html => {:class => 'span2'}, :wrapper_html => {:class => ''} %>
            <%= f.input :mttrc, :required => false, :label => "MTTRc (horas)", :input_html => {:class => 'span2'}, :wrapper_html => {:class => ''} %>
            <%= f.input :mttrp, :required => false, :label => "MTTRp (meses)", :input_html => {:class => 'span2'}, :wrapper_html => {:class => ''} %>
            <%= f.input :deltat, :required => false, :label => "Delta t (horas)", :input_html => {:class => 'span2'}, :wrapper_html => {:class => ''} %>
            <%= f.input :periodo, :required => false, :label => "Período (anos)", :input_html => {:class => 'span2'}, :wrapper_html => {:class => ''} %>
            
            <%= f.button :submit, "Simular", :class => "btn-primary" %>
          <% end %>
        </div>
      </div>
      
      <div class="chart span9" id="chart_div">asfasdfsd</div>
    </div>
    
    
  </div>
</div>